.buttonApprove {
  margin-right: 10px;
  margin-left: 5px;
  color: green;
}

.buttonReject {
  margin-right: 10px;
  margin-left: 5px;
  color: red;
}

.buttonView {
  margin-right: 5px;
  margin-left: 10px;
  color: blue;
}
